@model MultiFileAttach.Models.ViewpageModels.UploadPageViewModel
@{
    ViewBag.Title = "Index";
}


<h2>Multiple File Attachment</h2>
<hr />

    <div class="row">
    <a href="@Url.Action("Create")" class="btn btn-primary">Create</a>
    <a href="@Url.Action("Edit")" class="btn btn-primary">Edit</a>

</div>